<footer>

    <div class="foot">
        <p>¿NECESITAS AYUDA?</p>
        <p>0264 123 4567</p>
        <p>enquiry@geekhubstravels.com</p>
    </div>
    <div class="foot">
        <p>INFORMACION</p>
        <li>Quienes somos</li>
        <li>Preguntas frecuentes</li>
        <li>Politica de privacidad</li>
        <li>Condiciones generales</li>
        <li>Aviso legal</li>
        <li>Contacto</li>
        <li>Programa de puntos</li>
    </div>

    <div class="foot">
        <p>SUSCRIBETE A LA NEWSLETTER</p>
        <p>Si me quiero suscribir</p>
    </div>
</footer>