<header>
    <nav id="navBar">
        <div class="logo">
            <img class="imgheader" src="\img\iconoweb.png" />
            <p>GeeksHubs <br>Travels</p>
        </div>
        <div class="links">
            <a href=”” target=”_blank”>Destinos</a>
            <a href=”” target=”_blank”>Quienes somos</a>
            <a href=”” target=”_blank”>Donde estamos</a>
        </div>
        <div class="redessociales">
            <a href="">
                <img class="imgRRSS" src="\img\tt-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="\img\ws-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="\img\fb-ico.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="\img\instagram.jpeg" />
            </a>
            <a href="">
                <img class="imgRRSS" src="\img\linkedin.png" />
            </a>
            <a href="">
                <img class="imgRRSS" src="\img\youtube.png" />
            </a>
        </div>
    </nav>
    <div id="viaja">
        <h1>Viaja!</h1>
        <h2>Descubre lugares maravillosos</h2>
        <button id="verDestinos">ver destinos</button>
    </div>

</header>