<div id="divCities">

    <div id="Mykonos" class="cities"></div>
    <div id="London" class="cities"></div>
    <div id="Dublin" class="cities"></div>
    <div id="Paris" class="cities"></div>
    <div id="Amsterdam" class="cities"></div>
    <div id="Roma" class="cities"></div>

</div>

<div id="quienSomos">
    <div class="divSomos">
        <h3><u> QUIEN SOMOS</u></h3>
        <p>GeeksHubs Travels es un agencia de viajes
            online creada en 2009 por un equipo de viajeros entusiastas que deciden hacer de su
            pasión por conocer el mundo un modo de
            vida. Desde nuestros inicios hemos diseñado
            mas de 500 viajes organizados a diferentes
            destinos de Europa, Norteamerica y Asia.
            Nuestro objetivo ahora es ir ampliando horizontes poco a poco.</p>    
        <button id="btDescubrir">DESCUBRIR</button>
    </div>
</div>
<div class="container-form">
    <img class="Map" src="\img\map.JPG" />
    <div class="container-input">
        <form action="action_page.php">

            <p>E: enquiry@artiotravel.com<br>
                P: 0264 123 4567<br><br>
                Give us a call or drop by anytime, we endeavour to answer all<br>
                enquiries within 24 hours on business days.<br><br>
                We are open from 8.30 AM - 4.00 PM week days.
            </p>

            <section id="left">
                <input type="text" id="fname" name="firstname" placeholder="First name*">
                <input type="text" id="phone" name="phonenumber" placeholder="Phone number*">
            </section>

            <aside id="right">
                <input type="text" id="email" name="email" placeholder="Email*">
                <input type="text" id="country" name="country" placeholder="Country*">
            </aside></br></br></br>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <p>*PLEASE COMPLETE ALL FIELDS CORRECTLY.</p>
            <button id="enviar">Enviar Mensaje</button>

        </form>
    </div>
</div>