<div id="divCities">

    <div id="Mykonos" class="cities"></div>
    <div id="London" class="cities"></div>
    <div id="Dublin" class="cities"></div>
    <div id="Paris" class="cities"></div>
    <div id="Amsterdam" class="cities"></div>
    <div id="Roma" class="cities"></div>

</div>

<div id="quienSomos">
    <div class="divSomos">
        <h3><u> QUIEN SOMOS</u></h3>
        <p>GeeksHubs Travels es un agencia de viajes
            online creada en 2009 por un equipo de viajeros entusiastas que deciden hacer de su
            pasión por conocer el mundo un modo de
            vida. Desde nuestros inicios hemos diseñado
            mas de 500 viajes organizados a diferentes
            destinos de Europa, Norteamerica y Asia.
            Nuestro objetivo ahora es ir ampliando horizontes poco a poco.</p>
        <button id="bt">DESCUBRIR</button>
    </div>
</div>

<div class="mapForm">

    <div class="mapFormchildren">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.449308334559!2d-0.35859407871966603!3d39.
            48176790944997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sCoworking+
            Space+Valencia!5e0!3m2!1ses!2ses!4v1554220780122!5m2!1ses!2ses" width="100%" height="100%" frameborder="0"
            style="border:0" allowfullscreen></iframe>
    </div>
    <div class="mapFormchildren">
        <div>
            <p>
                E: enquire@artiotravel.com<br>
                P: 0264 123 4567 <br>
                Give us a call or drop by anytime, we endeavour to answer all
                enquiries within 24 hours on business days.<br>

                We are open from 8:30 AM - 4:00 PM week days.
            </p>
        </div>
        <div>
            <form action="/sendForm">
                <input type="text" name="Name*"><br>
                <input type="text" name="Email*"><br>
                <input type="text" name="Phone*"><br>
                <input type="text" name="Country*"><br>
                <input type="text" name="Message*"><br>
                <h6>*PLEASE COMPLETE ALL FIELDS CORRECTLY</h6>
                <input class="bt" type="submit" value="Enviar mensaje">
            </form>
        </div>
    </div>
</div>